.splash-bg {
    position: relative;
    // background: url('../../../assets/img/splashbg.png') no-repeat transparent;
    background: lightblue;
    background-size: cover;
    height: 30%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
}
.splash-logo {
    margin: auto;
    background: url('../../../assets/img/saxpos_logo.jpg') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
}
.splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
}
