
<ion-content scroll="false">

  <div class="splash-bg"></div>
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro">
        Welcome to SAXPOS: POS Application
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel">
        </ion-input>
      </ion-item>  
      <ion-row responsive-sm>
        <ion-col>
          <ion-button (click)="onLogin()" type="submit" expand="block">Login</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button (click)="onSignup()" color="light" expand="block">Signup</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-list>
</ion-content>
