<ion-header color="primary" no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button onclick="openStart()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="doSignOut()">
        LOGOUT
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-title>SAXPOS</ion-title>
  </ion-toolbar>

  <ion-segment color="secondary" [(ngModel)]="homeSegment">
    <ion-segment-button value="orders">
      Orders
    </ion-segment-button>
    <ion-segment-button value="tables">
      Tables
    </ion-segment-button>
  </ion-segment>
  
</ion-header>

<ion-content no-padding>

  <div [ngSwitch]="homeSegment">
    <ion-grid *ngSwitchCase="'orders'">
      <ion-row>
        <div *ngFor="let table of tables" >          
          <div *ngIf="table.status == 'IN-USE'">
            <ion-col no-padding>
              <ion-card class="table-card-inuse" (click)='showOrder($event, table.id)'>
                <ion-card-content>
                  <ion-grid>
                    <ion-row><ion-col><h1>{{table.tableName}}</h1></ion-col></ion-row>
                    <ion-row><ion-col><p>{{table.status}}</p></ion-col></ion-row>
                    <ion-row><ion-col><p>{{table.invoiceTotal | currency}}</p></ion-col></ion-row>
                    <ion-row><ion-col><ion-button (click)="onPayment($event, table.id)" color="secondary" expand="block">Pay</ion-button></ion-col></ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </div>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'tables'">
      <ion-row>
        <div *ngFor="let table of tables" >          
          <div *ngIf="table.status == 'IN-USE'; else openCard">
            <ion-col no-padding>
              <ion-card class="table-card-inuse" (click)='showOrder($event, table.id)'>
                <ion-card-content>
                  <ion-grid>
                    <ion-row><ion-col><h1>{{table.tableName}}</h1></ion-col></ion-row>
                    <ion-row><ion-col><p>{{table.status}}</p></ion-col></ion-row>
                    <ion-row><ion-col><p>{{table.invoiceTotal | currency}}</p></ion-col></ion-row>
                    <ion-row><ion-col><ion-button (click)="onPayment($event, table.id)" color="secondary" expand="block">Pay</ion-button></ion-col></ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </div>
          <ng-template #openCard>
            <ion-col no-padding>
              <ion-card class="table-card-open" (click)='showOrder($event, table.id)'>
                <ion-card-content>
                  <ion-grid>
                    <ion-row><ion-col><h1>{{table.tableName}}</h1></ion-col></ion-row>
                    <ion-row><ion-col><p>{{table.status}}</p></ion-col></ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-template>        
        </div>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>

