.table-card-inuse {
    position: relative;
    text-align: center;
    min-width: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #ffce00;
}

.table-card-open {
    position: relative;
    text-align: center;
    min-width: 150px;
    padding-top: 1px;
    padding-bottom: 1px; 
    background-color: lightblue;
}
