div.scrollmenu {
    // background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
  
#current-order-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#no-orders-badge {
    background-color: red;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

.product-card {
    position: relative;
    text-align: center;
    min-width: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: greenyellow;
}

