<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Order: {{id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="orderSegment='currentOrder'">
        <ion-icon slot="icon-only" name="clipboard">
          <ion-badge id="no-orders-badge" color="danger">{{totalQuantity}}</ion-badge>
        </ion-icon>
      </ion-button>
      <ion-button (click)="orderSegment='currentOrder'">Current Order</ion-button>
    </ion-buttons>
  
  </ion-toolbar>

  <div class="scrollmenu">
    <ion-button *ngFor="let i of categories" (click)="orderSegment='products';toggleGroup(i)">{{i.name}}</ion-button>
  </div> 
</ion-header>

<ion-content padding>
    <div [ngSwitch]="orderSegment">
        <ion-grid *ngSwitchCase="'products'">
          <ion-row>
            <div *ngFor="let p of products; let i = index" >
              <div *ngIf="selectedGroupID == p.groupID">
                <ion-col no-padding>
                  <ion-card class="product-card" (click)='productSelected(p)'>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row><ion-col><h1>{{p.name}}</h1></ion-col></ion-row>
                        <ion-row><ion-col><p>{{p.price | currency}}</p></ion-col></ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </div>
            </div>
          </ion-row>
        </ion-grid>
    
        <ion-grid *ngSwitchCase="'currentOrder'">
          <ion-row>
            <div *ngFor="let o of orderItems; let i = index" >
              <ion-col no-padding>
                <ion-card class="product-card">
                  <ion-card-content>
                    <ion-grid>
                      <ion-row><ion-col><h1>{{o.productName}}</h1></ion-col></ion-row>
                      <ion-row><ion-col><p>{{o.price | currency}}</p></ion-col></ion-row>
                      <ion-row><ion-col><p>{{o.quantity}}</p></ion-col></ion-row>
                      <ion-row><ion-col><p>{{o.totalPrice | currency}}</p></ion-col></ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </ion-col>             
            </div>
          </ion-row>
        </ion-grid>
    
      </div>
    
</ion-content>

<ion-footer>
  <ion-button (click)="onSubmit()" expand="block">Submit Order</ion-button>
</ion-footer>