<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment for: {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label>Amount Due: </ion-label>
      <a>{{amountDue | currency}}</a>
  </ion-item>
  <ion-item>
      <ion-label>Paid: </ion-label>
      <a>{{paid | currency}}</a>
  </ion-item>
  <ion-item>
      <ion-label>Change: </ion-label>
      <a>{{change | currency}}</a>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-button (click)="buttonClicked('7')">7</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('8')">8</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('9')">9</ion-button>
      </ion-col>
      <ion-col col-4>
        <ion-button (click)="buttonClicked('BS')">BS</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-button (click)="buttonClicked('4')">4</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('5')">5</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('6')">6</ion-button>
      </ion-col>
      <ion-col col-4> 
        <ion-button (click)="buttonClicked('CLEAR')">CLEAR</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-button (click)="buttonClicked('1')">1</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('2')">2</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('3')">3</ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-button (click)="buttonClicked('.')">.</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('0')">0</ion-button>
      </ion-col>
      <ion-col col-2>
        <ion-button (click)="buttonClicked('00')">00</ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-button (click)="buttonClicked('PAY')">Pay</ion-button>
  </ion-grid>
</ion-content>
